<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/styel.css" />
</head>
<body>
    <nav class="navbar navbar-dark nav-grad fixed-top">
        <a class="navbar-brand" href="#">IJasa Dashboard</a>
        <a class="navbar-brand f-logout" href="#">Logout</a>
    </nav>
    <div class="container-fluid bg-dark mt-5">
        <div class="row">
            <div class="col-2 pt-3 pl-5 nav-side">
                <div class="sidebar">
                    <div class="row">
                        <a href="#" class="btn btn-primary mb-4">Dashboard</a><br>
                    </div>
                    <div class="row">
                        <a href="#" class="btn btn-primary mb-4">Info Bencana</a><br>
                    </div>
                    <div class="row">
                        <a href="#" class="btn btn-primary mb-4">Kebutuhan Logistik</a><br>
                    </div>
                    <div class="row">
                        <a href="#" class="btn btn-primary mb-4">Penerimaan Logistik</a><br>
                    </div>
                </div>
            </div>

            <div class="col-10 bg-light">
                <div class="row p-3 h-min-100">
                    <div class="col">
                        <h4>Pengelolaan Info Bencana</h4>
                        <hr>
                        <a href="#" class="btn btn-success mb-3">Tambah Info Bencana</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama Bencana</th>
                                    <th scope="col">Lokasi</th>
                                    <th scope="col">Deskripsi</th>
                                    <th scope="col">Kebutuhan</th>
                                    <th scope="col">Tidakan</th>
                                </tr>
                            </thead>
                            <tbody>  
                                <tr>
                                    <td scope="row">1</td>
                                    <td scope="row">tes</td>
                                    <td scope="row">Sit dolor amet</td>
                                    <td scope="row">Sit dolor amet</td>
                                    <td scope="row">Sit dolor amet</td>
                                    <td scope="row">Sit dolor amet</td>
                                </tr>                      
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="footer text-center bg-footer p-3">
                        Copyright &copy; 2018
                </footer>
            </div>
        </div>
    </div>

    <!--Java script-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
</body>
</html>