<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style2.css" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-after">
        <div class="container">
            <a class="navbar-brand btn bg-ijasa" href="#">Ijasa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link nav-link-scroll active" href="#">Beranda <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link nav-link-scroll" href="#">Bencana</a>
                </div>
                <a href="#" class="btn btn-primary ml-auto tombol tombol-scroll">Login</a>
            </div>
        </div>
    </nav>
    <!-- Akhir navbar -->

    <!-- content -->
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card shad">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <h5>Daftar</h5>
                                <form>
                                    <div class="form-group">
                                        <label>Nama</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Jenis Kelamin</label> <br>
                                        <input type="radio">Laki-laki
                                        <input type="radio">Perempuan
                                    </div>                                    
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-success float-right">Daftar</button>
                                </form>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center text-secondary">
                    <a class="navbar-brand btn btn-brand" href="#">Ijasa<p style="font-size: 10pt">Sistem Informasi Jalan Sampai</p></a>
                    <p>Yuk Ikut Membatu saudara kita yang membutuhkan</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid bg-footer">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-6 text-white">
                    <h4>Footer Content</h4>
                    <hr>
                    <div class="row about">
                        <div class="col-md-4">
                            <img src="img/about.png" class="img-brand">
                        </div>
                        <div class="col-md-8">
                            <p>Merupakan aplikasi resmi yang bekerja sama dengan BPBD untuk pendistribusian bantuan logistik</p>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-white">
                    <h4>Hubungi Kami: </h4>
                    <hr>
                    <p>info@ijasa.com</p>
                </div>
            </div>
            <hr>
            <div class="row pt-3 pb-3">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="text-center text-white">Copyright &copy; 2018</div>
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>